@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Quantico', sans-serif;
  outline: none;
}

.start {
  background-color: #2adcdd;
  color: #080f3f;
}

.other {
  background-color: white;
  color: #080f3f;
}

.menu {
  background-color: #152155;
  color: #2adcdd;
}
